.xieyi-juzhong{width:780px; margin:0 auto; font-family:"宋体";  background-color:#FFF;}
.zhuti{text-align:center; font-size:24px; color:#333333;}
.zhongyao{font-size:16px; margin:20px 0px; color:#333333; line-height:20px; font-family:"宋体";}
.xiahuaxian-1{font-size:16px; margin:20px 0px; color:#333333; line-height:24px;}
#xiahuaxian{text-decoration:underline;}
.jiachu{font-size:16px;margin:20px 0px; color:#333333; line-height:24px;text-decoration:underline; font-weight:bold;}
.xieyi-liebiao li{font-size:16px; margin:30px 0px; font-weight:bold; line-height:24px;}
.xieyi-liebiao li p{font-size:14px;color:#333333; line-height:2; font-weight:normal;}
#xiahuaxian-1{text-decoration:underline; font-size:14px; color:#333333;}
.agreement-box{margin-bottom: 50px;}